/src/bin
/src/obj
/src/.vs
src/Properties/PublishProfiles/FolderProfile.pubxml.user
src/Properties/PublishProfiles/FolderProfile.pubxml.user
src/Properties/PublishProfiles/FolderProfile.pubxml.user
src/Properties/PublishProfiles/FolderProfile.pubxml.user
*.csproj
src/Properties/PublishProfiles/FolderProfile.pubxml.user
